body{
    font-family: 'Montserrat', sans-serif;
    }

header {
    background-color: peachpuff;
    border: solid;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    padding: 2em;

}

footer {
    background-color: peachpuff;
    border: solid;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    padding: 2em;
}

#principale {
    text-align: center;
    background: orange;
    border: solid;
    border-radius: 10px;
}

.formulaire {
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: column;
}

