html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}
body {
    display : table;
    width: 100%;
}

header {
    height: 50px;
    border-bottom: 1px solid black;
    background-color: green;
}

h1 {
    text-align: center;
}

#ajouter{
    float: right;
}

#box{
    display: flex;
    justify-content: space-between;
}

#infos{
    text-align: left;
}

footer {
    border-top: 1px solid black;
    background-color: purple;
    display : table-row;
    height: 100px; 
}